*{
    padding: 0;
    margin: 0;
}
h2{
    margin: 20px;
}
form{
    margin-bottom: 40px;
}

#textfield{
    height: 35px;
    width: 50%;
    border: 3px solid;
    border-color: #2362CC;
    border-radius: 7px;

}

#button{
    width: 80px;
    height: 35px;
    margin-left: 20px;
    color: white;
    background-color: rgb(39, 113, 241);
    border-radius: 7px;
}

.events{
    width: 50%;
    height: 5%;
    padding: 0 50px 0 50px;
    margin-top: 10px;
    background-color: cyan;
    border: 1px solid blue;
}