/* #DBB853
#E5E5E3
#7C7C7C
#141414 */
*{
    padding: 0;
    margin: 0;
    /* background-color: #742262; */
    color: whitesmoke;
    font-family: 'Pacifico', cursive;
}
body{
    background-image: url("bulb.jpg") ;
    background-size: cover;
    background-position: 160px 0;
 
}
h2{
    margin: 50px;
    font-size: 40px;
}


input[type="text"]{
    height: 50px;
    width: 50%;
    padding: 20px;
    border: 3px solid;
    border-color: #4b2142;
    border-radius: 7px;
    font-size: 20px;
    margin-bottom: 50px;
    background-color: #141414;
}

#button{
    width: 65px;
    height: 45px;
    margin-left: 20px;
    background-color: #032B43;
    border-radius: 7px;
}

#button:hover{
    background-color: #3E6680 ;
}

.events{
    width: 50%;
    height: 7%;
    padding: 0 50px 0 50px;
    margin-top: 15px;
    background-color: #7C7C7C;
    border: 1px solid #816E94;
    border-radius: 7px;
}
.events:hover{
    background-color: #8D91C7;
}

.events:hover p{
    background-color: #8D91C7;;
}

input[type= "checkbox"]{
    float: left;
    margin-top: 15px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    accent-color: #7C7C7C;
    border: none;
    

}
p{

    margin-top: 7px;
    text-align: left;
    font-size: 20px;
    word-wrap: break-word;
    background-color: #7C7C7C;
    
   
}

i{
    font-size: 40px;
    color: #DBB853;
    float: right;
    margin-top: 12px;
    cursor: pointer;
    background-color: #816E94;
}

